h3{
    font-size: 25px !important;
    color: black !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
canvas{
    border: 4px black solid;
}